<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>View analysis</title>
		<meta charset="utf-8" />
		{% load staticfiles %}
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/static/myapp/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
				
				     <div class="col-sm-3 col-md-3 pull-left">
        <form class="navbar-form" role="search">
        <div class="input-group">
            <input type="text" class="button special icon fa-search" placeholder="Search" name="srch-term" id="srch-term">
        </form>
        </div>
        </div>
					
					<nav id="nav">
						<a href="/myapp/home/">Home</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Main -->
		<section id="main" class="wrapper">
				<div class="inner">
				<div class="logo"><img src="/static/myapp/images/logo.png"></div>  
						<br>	
							
					
			<!-- Right side navigation bar -->
					<!-- <div id="mySidenav" class="sidenav">
  							<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  							<a href="/myapp/analysis/" >Areas</a>
							<a href="/myapp/analysis/" >Timing</a>
							<a href="/myapp/analysis/" >Retweets</a>
							<a href="/myapp/analysis/" >Monthly</a>
							<a href="/myapp/analysis/" >Weekly</a>
							<a href="/myapp/analysis/" >Causes</a>
						</div>
 -->
<!-- <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
 -->
<!-- <script>
function openNav() {
    document.getElementById("mySidenav").style.width = "1920px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script> -->



<center>
	<img src="/static/myapp/images/del_barplot.png">
	<img src="/static/myapp/images/delhi-pie.png">
	<img src="/static/myapp/images/chart4.png">
	<img src="/static/myapp/images/del-map.png">
</center>
								

		<!-- Scripts -->
			<script src="/static/myapp/js/jquery.min.js"></script>
			<script src="/static/myapp/js/skel.min.js"></script>
			<script src="/static/myapp/js/util.js"></script>
			<script src="/static/myapp/js/main.js"></script>

	</body>
</html>
