<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<style type="text/css">

</style>
	<head>
		<title>Branch Action</title>
		<meta charset="utf-8" />
		{% load staticfiles %}
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/static/myapp/css/main.css" />
	</head>
	<body class="subpage" >
	
		<!-- Header -->
			<header id="header">
				<div class="inner">
				
				     <div class="col-sm-3 col-md-3 pull-left">
        <form class="navbar-form" role="search">
        <div class="input-group">
            <input type="text" class="button special icon fa-search" placeholder="Search" name="srch-term" id="srch-term">
        </form>
        </div>
        </div>
					
					<nav id="nav">
						<a href="/myapp/home/">Home</a>
						<a href="/myapp/twitter/">Twitter</a>
						<a href="/myapp/facebook/">Facebook</a>
						<a href="/myapp/branches/">Branches</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
				<div class="logo"><img src="/static/myapp/images/logo.png"></div>  
						<br>	
							
					

					<!-- Right side navigation bar -->
					<div id="mySidenav" class="sidenav">
  							<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  							<a href="/myapp/branch_data/" >Semi Control</a>
							<a href="/myapp/branch_data/" >Traffic Signal</a>
							<a href="/myapp/branch_data/" >Prosecution/Notice Branch</a>
							<a href="/myapp/branch_data/" >Civic</a>
							<a href="/myapp/branch_data/" >PIU</a>
							<a href="/myapp/branch_data/" >DCP ranges/ACP district/DCP district</a>
						</div>

<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>

<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>
<br>
<form>
						Tweet/Post: please look into the traffic at Rajendra Place.
						<br><br>
						<input type="text" name="branch_action" placeholder="Branch Action">
						<br>
						<button type="button">Save</button>
					</form>	

			<header class="align-center">
						<h2>Twitter</h2>
					
					</header>

								<!-- Table -->
									<div class="table-wrapper">
										<div class="table-wrapper">
										<table class="alt">
											<thead>
												<tr>
													<th>Date</th>
													<th>Tweet Id</th>
													<th>Tweet</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>12-01-2017</td>
													<td>1234</td>
													<td>hello, how are you this is a tweet</td>
													<td>abc</td>
												</tr>
												<tr>
													<td>12-01-2017</td>
													<td>1234</td>
													<td>hello, how are you this is a tweet</td>
													<td>abc</td>
												</tr>
												<tr>
													<td>12-01-2017</td>
													<td>1234</td>
													<td>hello, how are you this is a tweet</td>
													<td>abc</td>
												</tr>
												<tr>
													<td>12-01-2017</td>
													<td>1234</td>
													<td>hello, how are you this is a tweet</td>
													<td>abc</td>
												</tr>
												<tr>
													<td>12-01-2017</td>
													<td>1234</td>
													<td>hello, how are you this is a tweet</td>
													<td>abc</td>
												</tr>
											</tbody>
										</table>
									</div>

							</div>
							


							<header class="align-center">
						<h2>Facebook</h2>
					
					</header>

								<!-- Table -->
									<div class="table-wrapper">
										<div class="table-wrapper">
										<table class="alt">
											<thead>
												<tr>
													<th>Date</th>
													<th>Post Id</th>
													<th>Post</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>12-01-2017</td>
													<td>1234</td>
													<td>hello, how are you this is a post</td>
													<td>abc</td>
												</tr>
												<tr>
													<td>12-01-2017</td>
													<td>1234</td>
													<td>hello, how are you this is a post</td>
													<td>abc</td>
												</tr>
												<tr>
													<td>12-01-2017</td>
													<td>1234</td>
													<td>hello, how are you this is a post</td>
													<td>abc</td>
												</tr>
												<tr>
													<td>12-01-2017</td>
													<td>1234</td>
													<td>hello, how are you this is a post</td>
													<td>abc</td>
												</tr>
												<tr>
													<td>12-01-2017</td>
													<td>1234</td>
													<td>hello, how are you this is a post</td>
													<td>abc</td>
												</tr>
											</tbody>
										</table>
									</div>

				

</div>

								

		<!-- Scripts -->
			<script src="/static/myapp/js/jquery.min.js"></script>
			<script src="/static/myapp/js/skel.min.js"></script>
			<script src="/static/myapp/js/util.js"></script>
			<script src="/static/myapp/js/main.js"></script>

	</body>
</html>
