<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<style type="text/css">
body
{
	background: white url("/static/myapp/images/fb.png") no-repeat center center fixed;
}
</style>
	<head>
		<title>Facebook</title>
		<meta charset="utf-8" />
		{% load staticfiles %}
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/static/myapp/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
				
				     <div class="col-sm-3 col-md-3 pull-left">
        <form class="navbar-form" role="search">
        <div class="input-group">
            <input type="text" class="button special icon fa-search" placeholder="Search" name="srch-term" id="srch-term">
        </form>
        </div>
        </div>
					
					<nav id="nav">
						<a href="/myapp/home/">Home</a>
						<a href="/myapp/branches/">Branches</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
				<div class="logo"><img src="/static/myapp/images/logo.png"></div>  
					<header class="align-center">
						<h2>Recent posts</h2>
					
					</header>

								<!-- Table -->
									<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Date</th>
													<th>Post Id</th>
													<th>Post</th>
													<th>Branch</th>
													<th>Reply</th>
													<th></th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>12-01-2017</td>
													<td>1234</td>
													<td>hello, how are you this is a fb post</td>
													<td>
   									 		       <div class="12u$">
												<div class="select-wrapper">
													<select name="demo-category" id="demo-category">
													<option value="">- Select -</option>
														<option value="semi">Semi Control</option>
            											<option value="signal">Traffic Signal</option>
            											<option value="prosecution">Prosecution/Notice Branch</option>
            											<option value="civic">Civic</option>
            											<option value="piu">PIU</option>
            											<option value="civic">DCP ranges/ACP district/DCP district</option>
													</select>
												</div>
											</div>
											</td>
													<td><form action="#" method="post">

												<div class="field half fixed">
													<input name="name" id="name" type="text" placeholder="Write a response" size="45">
												</div>
																		
												</form></td>
													<td>
													<form>
														<button class="button button1" name="submit">OK
													</form>
													</td>

												</tr>
												<tr>
													<td>12-01-2017</td>
													<td>1234</td>
													<td>hello, how are you this is a fb post</td>
													<td>
   									 		       <div class="12u$">
												<div class="select-wrapper">
													<select name="demo-category" id="demo-category">
													<option value="">- Select -</option>
														<option value="semi">Semi Control</option>
            											<option value="signal">Traffic Signal</option>
            											<option value="prosecution">Prosecution/Notice Branch</option>
            											<option value="civic">Civic</option>
            											<option value="piu">PIU</option>
            											<option value="civic">DCP ranges/ACP district/DCP district</option>
													</select>
												</div>
											</div>
											</td>
													<td><form action="#" method="post">

												<div class="field half fixed">
													<input name="name" id="name" type="text" placeholder="Write a response" size="45">
												</div>
																		
												</form></td>
													<td>
													<form>
														<button class="button button1" name="submit">OK
													</form>
													</td>
												</tr>
												<tr>
													<td>12-01-2017</td>
													<td>1234</td>
													<td>hello, how are you this is a fb post</td>
													<td>
   									 		       <div class="12u$">
												<div class="select-wrapper">
													<select name="demo-category" id="demo-category">
													<option value="">- Select -</option>
														<option value="semi">Semi Control</option>
            											<option value="signal">Traffic Signal</option>
            											<option value="prosecution">Prosecution/Notice Branch</option>
            											<option value="civic">Civic</option>
            											<option value="piu">PIU</option>
            											<option value="civic">DCP ranges/ACP district/DCP district</option>
													</select>
												</div>
											</div>
											</td>
													<td><form action="#" method="post">

												<div class="field half fixed">
													<input name="name" id="name" type="text" placeholder="Write a response" size="45">
												</div>
																		
												</form></td>
													<td>
													<form>
														<button class="button button1" name="submit">OK
													</form>
													</td>
												</tr>
												<tr>
													<td>12-01-2017</td>
													<td>1234</td>
													<td>hello, how are you this is a fb post</td>
													<td>
   									 		       <div class="12u$">
												<div class="select-wrapper">
													<select name="demo-category" id="demo-category">
													<option value="">- Select -</option>
														<option value="semi">Semi Control</option>
            											<option value="signal">Traffic Signal</option>
            											<option value="prosecution">Prosecution/Notice Branch</option>
            											<option value="civic">Civic</option>
            											<option value="piu">PIU</option>
            											<option value="civic">DCP ranges/ACP district/DCP district</option>
													</select>
												</div>
											</div>
											</td>
													<td><form action="#" method="post">

												<div class="field half fixed">
													<input name="name" id="name" type="text" placeholder="Write a response" size="45">
												</div>
																		
												</form></td>
													<td>
													<form>
														<button class="button button1" name="submit">OK
													</form>
													</td>
												</tr>
												<tr>
													<td>12-01-2017</td>
													<td>1234</td>
													<td>hello, how are you this is a fb post</td>
													<td>
   									 		       <div class="12u$">
												<div class="select-wrapper">
													<select name="demo-category" id="demo-category">
													<option value="">- Select -</option>
														<option value="semi">Semi Control</option>
            											<option value="signal">Traffic Signal</option>
            											<option value="prosecution">Prosecution/Notice Branch</option>
            											<option value="civic">Civic</option>
            											<option value="piu">PIU</option>
            											<option value="civic">DCP ranges/ACP district/DCP district</option>
													</select>
												</div>
											</div>
											</td>
													<td><form action="#" method="post">

												<div class="field half fixed">
													<input name="name" id="name" type="text" placeholder="Write a response" size="45">
												</div>
																		
												</form></td>
													<td>
													<form>
														<button class="button button1" name="submit">OK
													</form>
													</td>
												</tr>
											</tbody>
											
										</table>
									</div>
							

								

		<!-- Scripts -->
			<script src="/static/myapp/js/jquery.min.js"></script>
			<script src="/static/myapp/js/skel.min.js"></script>
			<script src="/static/myapp/js/util.js"></script>
			<script src="/static/myapp/js/main.js"></script>

	</body>
</html>
