<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>View notifications</title>
		<meta charset="utf-8" />
		{% load staticfiles %}
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/static/myapp/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
				
				     <div class="col-sm-3 col-md-3 pull-left">
        <form class="navbar-form" role="search">
        <div class="input-group">
            <input type="text" class="button special icon fa-search" placeholder="Search" name="srch-term" id="srch-term">
        </form>
        </div>
        </div>
					
					<nav id="nav">
						<a href="/myapp/home/">Home</a>
						<a href="/myapp/view_notifications/">View notifications</a>
						</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
				<div class="logo"><img src="/static/myapp/images/logo.png"></div>  
					<header class="align-center">
						<h2>Notifications-Twitter</h2>
					
					</header>

								<!-- Table -->
									<div class="table-wrapper">
										<div class="table-wrapper">
										<table class="alt">
											<thead>
												<tr>
													<th>Date</th>
													<th>Tweet Id</th>
													<th>Tweet</th>
													<th>Branch</th>
													<th>Reply</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>12-01-2017</td>
													<td>1234</td>
													<td>hello, how are you this is a tweet</td>
													<td>Civil</td>
   									 		       </td>
													<td>
														Hi, thanks!
													</td>
													<td>abc</td>
												</tr>
												<tr>
													<td>12-01-2017</td>
													<td>1234</td>
													<td>hello, how are you this is a tweet</td>
													<td>Civil</td>
													<td>Hi, thanks!</td>
													<td>abc</td>
												</tr>
												<tr>
													<td>12-01-2017</td>
													<td>1234</td>
													<td>hello, how are you this is a tweet</td>
													<td>Traffic signal</td>
													<td>Hi, thanks!</td>
													<td>abc</td>
												</tr>
												<tr>
													<td>12-01-2017</td>
													<td>1234</td>
													<td>hello, how are you this is a tweet</td>
													<td>PIU</td>
													<td>Hi, thanks!</td>
													<td>abc</td>
												</tr>
												<tr>
													<td>12-01-2017</td>
													<td>1234</td>
													<td>hello, how are you this is a tweet</td>
													<td>Traffic signal</td>
													<td>Hi, thanks!</td>
													<td>abc</td>
												</tr>
											</tbody>
										</table>
									</div>

							</div>
							


							<header class="align-center">
						<h2>Notifications-Facebook</h2>
					
					</header>

								<!-- Table -->
									<div class="table-wrapper">
										<div class="table-wrapper">
										<table class="alt">
											<thead>
												<tr>
													<th>Date</th>
													<th>Post Id</th>
													<th>Post</th>
													<th>Branch</th>
													<th>Reply</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>12-01-2017</td>
													<td>1234</td>
													<td>hello, how are you this is a post</td>
													     
      												<td>Civil</td>
   									 		       </td>
													<td>
														Hi, thanks!
													</td>
													<td>abc</td>
												</tr>
												<tr>
													<td>12-01-2017</td>
													<td>1234</td>
													<td>hello, how are you this is a post</td>
													<td>Civil</td>
													<td>Hi, thanks!</td>
													<td>abc</td>
												</tr>
												<tr>
													<td>12-01-2017</td>
													<td>1234</td>
													<td>hello, how are you this is a post</td>
													<td>Traffic signal</td>
													<td>Hi, thanks!</td>
													<td>abc</td>
												</tr>
												<tr>
													<td>12-01-2017</td>
													<td>1234</td>
													<td>hello, how are you this is a post</td>
													<td>PIU</td>
													<td>Hi, thanks!</td>
													<td>abc</td>
												</tr>
												<tr>
													<td>12-01-2017</td>
													<td>1234</td>
													<td>hello, how are you this is a post</td>
													<td>Traffic signal</td>
													<td>Hi, thanks!</td>
													<td>abc</td>
												</tr>
											</tbody>
										</table>
									</div>

							</div>
					

								

		<!-- Scripts -->
			<script src="/static/myapp/js/jquery.min.js"></script>
			<script src="/static/myapp/js/skel.min.js"></script>
			<script src="/static/myapp/js/util.js"></script>
			<script src="/static/myapp/js/main.js"></script>

	</body>
</html>
